<?xml version="1.0"?>
<launch>

    <node pkg="myserial_py" name="roscan_node" type="roscan.py" output="screen">
        <param name="port_name" value="/dev/ttyUSBdwdadwdaw0"/>
    </node>

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="log">
        <param name="video_device" value="/dev/video0"/>
        <param name="image_width" value="1280"/>
        <param name="image_height" value="720"/>
        <param name="pixel_format" value="mjpeg"/>
        <param name="framerate" value="30"/>
        <param name="contrast" value="128"/>
        <param name="brightness" value="128"/>
        <param name="saturation" value="128"/>
        <param name="autofocus" value="true"/>
    </node>

    <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
        <!-- <param name="ip_address" value="192.168.0.9"/> -->

        <param name="serial_port" value="/dev/ttyACM1"/>
        <param name="serial_baud" value="115200"/>
        <param name="frame_id" value="laser"/>
        <param name="calibrate_time" value="false"/>
        <param name="publish_intensity" value="true"/>
        <param name="publish_multiecho" value="false"/>
        <param name="angle_min" value="-2.0944"/>
        <param name="angle_max" value="2.0944"/>
        <!-- <remap from="scan" to="front_scan"/> -->
    </node>

</launch>
